
body {
	background-image: url(https://xn--iesguadalpea-khb.es/sites/default/files/styles/anchopagina/public/iesguadalp1_0.jpg?itok=eDVbrpWa);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.horizontal {
	margin-bottom: 2em;
	overflow: hidden;
	padding: 1em;
	background-color: burlywood;
	}

.horizontal li {
	float: left;
	width: 15%;
	list-style: none;
	margin: 0em;
	padding: 1em;
	/*border-left: 1px solid #7C7C7C;*/
	}

	


	.horizontal  a {
	font-weight: bold;
	font-size: 2em;
	/*padding: .2em 0 .2em .5em;*/
	display: block;
	text-decoration: none;
	color: #333;
	background: #F4F4F4;
	/*border: 1px solid #7C7C7C;*/
	
	
	}
	
	.horizontal a:hover{background-color: grey;
		color: #F4F4F4;
		font-weight: bold;}
	